<div class="row">
  <div class="col-sm-12">
    <div class="center-div" *ngIf="mostRecentChanging">
      <last-activity [lastActivity]="mostRecentChanging"></last-activity>
    </div>
    <hr *ngIf="mostRecentChanging" />
    <div class="center-div">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group text-center">
              <input type="checkbox"
                     id="hasPoo"
                     name="hasPoo"
                     [(ngModel)]="hasPoo"
                     [formControl]="formGroup.get('hasPoo')">
              <label for="hasPoo">Has Poo</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group text-center">
              <input type="checkbox"
                     id="hasPee"
                     name="hasPee"
                     [(ngModel)]="hasPee"
                     [formControl]="formGroup.get('hasPee')">
              <label for="hasPee">Has Pee</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="notes">Notes</label>
            <textarea id="notes"
                      placeholder="Add some notes!"
                      [(ngModel)]="notes"
                      [formControl]="formGroup.get('notes')"
                      maxlength="2000">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn waves-effect waves-light center-button red"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
