<div class="row">
  <div class="col-sm-12">
    <div class="center-div" *ngIf="mostRecentMilking">
      <last-activity [lastActivity]="mostRecentMilking"></last-activity>
    </div>
    <hr *ngIf="mostRecentMilking" />
    <div class="center-div">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="input-field">
              <select materialize="material_select"
                      id="selectedMilkingType"
                      [(ngModel)]="selectedMilkingType"
                      [formControl]="formGroup.get('selectedMilkingType')">
                <option *ngFor="let type of milkingTypes" [ngValue]="type">{{type}}</option>
              </select>
              <label for="selectedMilkingType">Breastfeeding or Pumping?</label>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="input-field">
              <select materialize="material_select"
                      id="selectedBreast"
                      [(ngModel)]="selectedBreast"
                      [formControl]="formGroup.get('selectedBreast')">
                <option *ngFor="let breast of breasts" [ngValue]="breast">{{breast}}</option>
              </select>
              <label for="selectedBreast">Left or Right?</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="input-field">
              <input id="amount"
                     [(ngModel)]="amount"
                     [formControl]="formGroup.get('amount')"
                     type="number"/>
              <label for="amount">Amount</label>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="input-field">
              <select materialize="material_select"
                      id="selectedUnitOfMeasure"
                      [(ngModel)]="selectedUnitOfMeasure"
                      [formControl]="formGroup.get('selectedUnitOfMeasure')">
                <option *ngFor="let unit of unitsOfMeasure" [ngValue]="unit">{{unit}}</option>
              </select>
              <label for="selectedUnitOfMeasure">Unit of Measure</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="notes">Notes</label>
            <textarea id="notes"
                      placeholder="Add some notes!"
                      [(ngModel)]="notes"
                      [formControl]="formGroup.get('notes')"
                      maxlength="2000">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn waves-effect waves-light center-button red"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
