<h6 class="text-overflow text-center pb-1">Last {{translateActivityType(lastActivity.activity)}}</h6>
<p class="text-overflow text-center">{{lastActivity.updatedAt | date: 'M/dd/yyyy'}} at {{lastActivity.updatedAt | date: 'h:mm a'}}</p>
<p class="text-overflow text-center">{{lastActivity.stringify()}}</p>
