<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col-sm-12">
        <h6 class="text-overflow text-center pb-1">{{activity.updatedAt | date: 'M/dd/yyyy'}} at {{activity.updatedAt | date: 'h:mm a'}}</h6>
        <p class="text-overflow text-center">{{activity.stringify()}}</p>
        <p class="text-overflow text-center">{{activity.notes}}</p>
      </div>
    </div>
  </div>
</div>
