<div class="card">
  <div class="card-content">
    <span class="card-title">{{titleify(activityType)}}</span>
    <div class="row">
      <div class="col-sm-12" *ngIf="activities.length > 0">
        <last-activity [lastActivity]="activities[0]"></last-activity>
      </div>
      <div class="col-sm-12" *ngIf="activities.length === 0">
        <p class="text-center">
          No {{translateActivityType(activityType)}} have been added in the last week.
        </p>
      </div>
    </div>
    <a class="btn-floating halfway-fab waves-effect waves-light red"
       (click)="newActivity()">
          <i class="fa fa-plus plus-padding"></i>
    </a>
  </div>
  <div class="card-action">
    <a (click)="goToHistory()">See all</a>
  </div>
</div>
