<div class="row">
  <div class="col-sm-12">
    <div class="center-div" *ngIf="mostRecentSleep">
      <last-activity [lastActivity]="mostRecentSleep"></last-activity>
    </div>
    <hr *ngIf="mostRecentSleep" />
    <div class="center-div">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="input-field">
              <input id="hours"
                     [(ngModel)]="hours"
                     [formControl]="formGroup.get('hours')"
                     type="number"/>
              <label for="hours">Hours</label>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="input-field">
              <input id="minutes"
                     [(ngModel)]="minutes"
                     [formControl]="formGroup.get('minutes')"
                     type="number"/>
              <label for="minutes">Minutes</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="notes">Notes</label>
            <textarea id="notes"
                      placeholder="Add some notes!"
                      [(ngModel)]="notes"
                      [formControl]="formGroup.get('notes')"
                      maxlength="2000">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn waves-effect waves-light center-button red"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
