<div class="row">
  <div class="col-sm-12">
    <div class="center-div" *ngIf="mostRecentFeeding">
      <last-activity [lastActivity]="mostRecentFeeding"></last-activity>
    </div>
    <hr *ngIf="mostRecentFeeding" />
    <div class="center-div">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="input-field">
              <select materialize="material_select"
                      id="selectedFoodType"
                      [(ngModel)]="selectedFoodType"
                      [formControl]="formGroup.get('selectedFoodType')">
                <option *ngFor="let type of foodTypes" [ngValue]="type">{{type}}</option>
              </select>
              <label for="selectedFoodType">Type of Feeding</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="input-field">
              <input id="amount"
                     [(ngModel)]="amount"
                     [formControl]="formGroup.get('amount')"
                     type="number"/>
              <label for="amount">Amount</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="input-field">
              <select materialize="material_select"
                      id="selectedUnitOfMeasure"
                      [(ngModel)]="selectedUnitOfMeasure"
                      [formControl]="formGroup.get('selectedUnitOfMeasure')">
                <option *ngFor="let unit of unitsOfMeasure" [ngValue]="unit">{{unit}}</option>
              </select>
              <label for="selectedUnitOfMeasure">Unit of Measure</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="notes">Notes</label>
            <textarea id="notes"
                      placeholder="Add some notes!"
                      [(ngModel)]="notes"
                      [formControl]="formGroup.get('notes')"
                      maxlength="2000">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn waves-effect waves-light center-button red"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
