<a (click)="goHome()"><i class="fa fa-arrow-left fa-large"></i></a>
<div class="row" *ngFor="let milking of milkings">
  <div class="col-sm-5 center-card">
    <history-card [activity]="milking"></history-card>
  </div>
</div>
