<div class="row">
  <div class="col-sm-12 col-md-4">
    <activity-card [recentActivities]="recentActivities.changings" [activityType]="'changings'"></activity-card>
  </div>
  <div class="col-sm-12 col-md-4">
    <activity-card [recentActivities]="recentActivities.feedings" [activityType]="'feedings'"></activity-card>
  </div>
  <div class="col-sm-12 col-md-4">
    <activity-card [recentActivities]="recentActivities.milkings" [activityType]="'milkings'"></activity-card>
  </div>
  <div class="col-sm-12 col-md-4">
    <activity-card [recentActivities]="recentActivities.sleeps" [activityType]="'sleeps'"></activity-card>
  </div>
</div>
