// Buttons
.btn-primary {
  background-color: @primary-button-color;
  border-color: @primary-button-color;
}

// Font
* {
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

.fa-large {
  font-size: 40px;
}

// FAB
i.plus-padding {
  padding-top: 1px;
}

// Cards
.center-card {
  margin: 0 auto;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
