.btn-primary {
  background-color: #a32048;
  border-color: #a32048;
}
* {
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}
.fa-large {
  font-size: 40px;
}
i.plus-padding {
  padding-top: 1px;
}
.center-card {
  margin: 0 auto;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.center-div {
  margin: 0 auto;
  width: 50%;
}
.center-button {
  display: block !important;
  float: none;
  margin: 0 auto;
}
